:root {
  --space: 32px;
}

body {
  zoom: 125%;
  margin: var(--space);
  word-wrap: break-word;
}

.nav {
  margin-bottom: var(--space);
  white-space: nowrap;
}

.nav h1 {
  display: inline;
  vertical-align: sub;
  margin-right: var(--space);
}

.nav a {
  text-decoration: none;
  color: grey;
}

.unt {
  color: lightgrey !important;
}

.post {
  margin-bottom: var(--space);
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: lightgrey;
  padding-left: 1em;
}

.post h3, .post pre {
  margin: 0;
}

pre {
  font-size: inherit;
  font-family: inherit;
  white-space: pre-wrap;
}

abbr {
  text-decoration: none;
}
