<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet", type="text/css", href="{% static 'style.css' %}">
    <link rel="icon" type="image/png" href="{% get_static_prefix %}favicon/{{ mon }}.ico">
    <title>amitai.ga</title>
  </head>
  <body>
    <div class="nav">
      <h1>
        amitai.ga<a href="{% url 'unt' %}" class="unt">unt</a>
      </h1>
      <a href="{% url 'blog:index' %}">blog</a>
      | <a href="{% url 'cv:index' %}">cv</a>
      | <a href="https://github.com/amg-12/cw">source</a>
      | <a href="{% url 'admin:index' %}">admin</a>
    </div>

    {% block content %}{% endblock %}

  </body>
</html>
